{% extends "base.html" %}
{% load i18n static crispy_forms_filters %}

{% block content %}
    <div class="container">
        <div class="page-content page-container" id="page-content">
            <div class="padding">
                <div class="row container d-flex justify-content-center">
                    <div class="col-xl-12 col-md-14">
                        <div class="card user-card-full">
                            <div class="row m-l-0 m-r-0">
                                <div class="col-sm-4 bg-c-lite-green user-profile">
                                    <div class="card-block text-center text-white">
                                        <div class="m-b-25"><img
                                                src="{{ profile.image.url }}" width="120" height="100"
                                                class="img-radius" alt="User-Profile-Image"></div>
                                        <h6 class="f-w-600"> {{ user.first_name }} {{ user.last_name }}</h6>
                                        <p>{{ profile.status }}</p> <i
                                            class=" mdi mdi-square-edit-outline feather icon-edit m-t-10 f-16"></i>
                                    </div>
                                </div>
                                <div class="col-sm-8">
                                    <div class="card-block">
                                        <h6 class="m-b-20 p-b-5 b-b-default f-w-600">Information</h6>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <p class="m-b-10 f-w-600">Email</p>
                                                <h6 class="text-muted f-w-400">{{ user.email }}</h6>
                                            </div>
                                            <div class="col-sm-6">
                                                <p class="m-b-10 f-w-600">Register at </p>
                                                <h6 class="text-muted f-w-400">{{ user.date_joined }}</h6>
                                            </div>
                                        </div>
                                        <h6 class="m-b-20 m-t-40 p-b-5 b-b-default f-w-600">Projects</h6>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <p class="m-b-10 f-w-600">Recent</p>
                                                <h6 class="text-muted f-w-400">Django Shop</h6>
                                            </div>
                                            <div class="col-sm-6">
                                                <p class="m-b-10 f-w-600">Most Viewed</p>
                                                <h6 class="text-muted f-w-400">Django Blog</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="filters-form mb-4">
                            <h3>{% translate "Filters" %}</h3>
                            <form class="form-inline">
                                {{ filters_form|crispy }}
                                <button type="submit" class="save btn btn-primary">{% translate "Search" %}</button>
                            </form>
                        </div>
                    </div>
                    <div class="purchases">
                        <h1>Your purchases</h1>
                        <table cellpadding="0" cellspacing="0" border="0" width="100%"
                               class="table">
                            <tr>
                                <th>Product</th>
                                <th>Price</th>
                                <th>Count</th>
                                <th>Date</th>
                            </tr>
                            {% for purchase in purchases %}
                                <tr>
                                    <td>{{ purchase.product.title }}</td>
                                    <td>{{ purchase.product.cost }}</td>
                                    <td>{{ purchase.count }}</td>
                                    <td>{{ purchase.created_at }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}