<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Registration form</title>

    <link type="text/css" rel="stylesheet" href="/static/sign_up.css" media="all">
</head>
<body>
<div class="form_wrapper">
  <div class="form_container">
    <div class="title_container">
      <h2>Registration Form</h2>
    </div>
    <div class="row clearfix">
      <div class="">
        <form>
            <div class="form-control">
                <label class="header">Profile Photo:</label>
                <input id="image" type="file" name="profile_photo" placeholder="Photo" required="">
            </div>
          <div class="input_field"> <span><i aria-hidden="true" class="fa fa-envelope"></i></span>
              <label>
                  <input type="email" name="email" placeholder="Email" required />
              </label>
          </div>
          <div class="input_field"> <span><i aria-hidden="true" class="fa fa-lock"></i></span>
              <label>
                  <input type="password" name="password" placeholder="Password" required />
              </label>
          </div>
          <div class="input_field"> <span><i aria-hidden="true" class="fa fa-lock"></i></span>
              <label>
                  <input type="password" name="password" placeholder="Repeat Password" required />
              </label>
          </div>
          <div class="row clearfix">
            <div class="col_half">
              <div class="input_field"> <span><i aria-hidden="true" class="fa fa-user"></i></span>
                  <label>
                      <input type="text" name="name" placeholder="First Name" />
                  </label>
              </div>
            </div>
            <div class="col_half">
              <div class="input_field"> <span><i aria-hidden="true" class="fa fa-user"></i></span>
                  <label>
                      <input type="text" name="name" placeholder="Last Name" required />
                  </label>
              </div>
            </div>
          </div>
          <input class="button" type="submit" value="Register" />
        </form>
      </div>
    </div>
  </div>
</div>
</body>
</html>