{% load static %}

<div class="card mb-4">
  <div class="card-body">
    {% if product.image %}
      <img class="card-img-top mb-2" src="{{ product.image.url }}" alt="{{ product.title }}">
    {% else %}
      <img src="{% static 'no-image.jpg' %}" class="card-img-top img-thumbnail" alt="No image">
    {% endif %}
    <h5 class="card-title">{{ product.title }}</h5>
    <h6 class="card-subtitle mb-2 text-muted">Cost: {{ product.cost }} BYN - {{ product.cost_usd }} USD/ {{ product.get_status_display }}</h6>
    <p class="card-text">{{ product.description }}</p>
      {% if product.description %}
      <p class="card-text">{{ product.description }}</p>
      {% endif %}
    <a href="{% url 'product_card' product.id %}" class="btn btn-primary">Details</a>
  </div>
</div>
