{% extends "base.html" %}
{% load i18n static crispy_forms_filters pagination_tags %}

{% block title %}Products{% endblock %}

{% block content %}
  <div class="products">
    <h1 class="my-4">{% translate "Products" %}</h1>
    <div class="row">
      <div class="col-3">
          <div class="filters-form mb-4">
          <h3>{% translate "Filters" %}</h3>
          <form class="form-inline">
            {{ filters_form|crispy }}
            <button type="submit" class="save btn btn-primary">{% translate "Search" %}</button>
          </form>
        </div>
      </div>
      <nav class="col-9">
        <div class="row">
          {% for product in products %}
            <div class="col-4">
              {% include "products/product_card.html" %}
            </div>
          {% endfor %}
        </div>
      </nav>
        <nav aria-label="Page navigation example" class="my-3">
          <ul class="pagination justify-content-center">
            {% if products.has_previous %}
              <li class="page-item">
                <a class="page-link" href="{% url_replace page=1 %}">
                &laquo; {% translate "First" %}
                </a>
              </li>
              <li class="page-item">
                <a class="page-link" href="{% url_replace page=products.previous_page_number %}">
                  {% translate "Previous" %}
                </a>
              </li>
            {% endif %}
              <li class="page-item disabled">
                <span class="page-link">
                  {% translate "Page" %} {{ products.number }}
                  {% translate "of" %} {{ products.paginator.num_pages }}.
                </span>
              </li>
            {% if products.has_next %}
              <li class="page-item">
                <a class="page-link"href="{% url_replace page=products.next_page_number %}">
                  {% translate "Next" %}
                </a>
              </li>
              <li class="page-item">
                <a class="page-link" href="{% url_replace page=products.paginator.num_pages %}">
                  {% translate "Last" %} &raquo;
                </a>
              </li>
            {% endif %}
          </ul>
        </nav>
     </div>
    </div>
  </main>
{% endblock %}