{% extends "base.html" %}
{% load static %}
{% load crispy_forms_filters %}

{% block content %}
  <h1>Products</h1>
  <div class="container products">
    <div class="row">
      {% for product in products %}
        <div class="col-4 product-item">
          <div class="card">
              <div class="image-container">
              {% if product.image %}
                <img src="{{ product.image.url }}" class="card-img-top img-thumbnail" alt="{{ product.title }}">
              {% else %}
                <img src="{% static 'no-image.jpg' %}" class="card-img-top img-thumbnail" alt="No image">
              {% endif %}
            </div>
            <div class="card-body">
              <h5 class="card-title">{{ product.title }}</h5>
              <p class="card-cost">Cost: {{ product.cost }}</p>
              <a href="{% url "product_card" product.id %}">Go to product</a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}