{% extends "base.html" %}
{% load static crispy_forms_filters text_tags %}

{% block content %}
  <div class="posts">
    <h1 class="my-4">Latest blog posts</h1>
    <div class="row">
      {% for post in posts %}
        <div class="col-4 post-item">
          <div class="card">
            <div class="image-container">
              {% if post.image %}
                <img src="{{ post.image.url }}" class="card-img-top img-thumbnail" alt="{{ post.title }}">
              {% else %}
                <img src="{% static 'no-image.jpg' %}" class="card-img-top img-thumbnail" alt="No image">
              {% endif %}
            </div>
            <div class="card-body">
              <h5 class="card-title">{{ post.title }}</h5>
              <p class="card-text">
                {{ post.text|cut_text:150 }}
              </p>
              <p class="post-link">
                 <a href="{% url "post_view" post.slug %}">Go to post</a>
              </p>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}